*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#0a0a0a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:black;
position:sticky;
top:0;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
text-decoration:none;
color:white;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:4rem;
color:#ff0000;
}

.hero p{
margin:20px 0;
font-size:1.2rem;
}

.btn{
background:#ff0000;
padding:12px 25px;
text-decoration:none;
color:white;
border-radius:30px;
transition:0.3s;
}

.btn:hover{
background:#b30000;
box-shadow:0 0 20px red;
}

section{
padding:80px 10%;
}

section h2{
text-align:center;
margin-bottom:40px;
color:#ff0000;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:#141414;
padding:30px;
border-radius:15px;
width:250px;
text-align:center;
transition:0.4s;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 0 20px red;
}

#contact{
text-align:center;
}